<div class="p-4" [formGroup]="employeeForm">
  <div class="row">
    <div class="col-md-4">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">  
    </div>
    <div class="col-md-4">
      <label for="gender" class="form-label">Gender</label>
      <fieldset >
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="gridRadios1" value="male" formControlName="gender" checked>
            <label class="form-check-label" for="gridRadios1">
              Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="gridRadios2" value="female" formControlName="gender">
            <label class="form-check-label" for="gridRadios2">
              Female
            </label>
          </div>
      </fieldset>
    </div>
    <div class="col-md-4">
      <label for="nationality" class="form-label">Nationality</label>
      <select id="inputState" class="form-select" formControlName="nationality">
        <option selected>Choose...</option>
        <option value ="Brunei">Brunei</option>
        <option value ="Indonesia">Indonesia</option>
        <option value ="Malaysia">Malaysia</option>
        <option value ="Singapore">Singapore</option>
        <option value ="Thailand">Thailand</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email">
    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col">
      <button class="btn btn-outline-success" (click)="updateEmployee()">{{employee?.id ? 'Save' : 'Add'}}</button>
      <br>
      <span class="text-success" *ngIf="saved">Successfully Saved. Redirecting in {{timer}}...</span>
    </div>
  </div>

</div>
