<header class="p-3 bg-dark text-white">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none">
        <span class="fs-4">Dynamic Storage</span>
      </a>

      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic">
          {{storage.type}} <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" (click)="setStorage('localStorage')">Local storage</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="setStorage('cache')">Client-side cache</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="setStorage('jsonServer')">JSON server</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<ng-template #cacheModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left m-0">Cache Storage</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Hi. We may have different understanding on cache. But from what I understand, cache are use to store web assets. This is at least what I understand from <a href="https://developer.mozilla.org/en-US/docs/Web/API/Cache" target="_blank"> mdn web docs</a>. Please enlighten me. Thanks!
  </div>
</ng-template>