<div class="p-4">
  <div class="btn-group mb-4" role="group" aria-label="Basic example" *ngFor="let r of routeList">
    <a type="button" class="btn btn-primary" routerLink="{{'/routing/'+r.route}}">{{ r.route }}</a>
  </div>
 
  <br>
  <span class="text-success" *ngIf="saved">Successfully Saved. Redirecting in {{timer}}...</span>
  <br>

  <div class="alert alert-primary" role="alert" *ngFor="let r of routeList; let i = index">
    Section {{r.name}}
    {{r|json}}
    <h3 *ngIf='router.url.includes(r.route)'>Your are in Section <b>{{r.route}}</b> </h3>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="text1" class="form-label">Name</label>
        <input type="text" class="form-control" id="text1" [value]="r.name" [(ngModel)]="routeList[i].name">
      </div>
      <div class="col-md-6 mb-3">
        <label for="text2" class="form-label">Route</label>
        <input type="text" class="form-control" id="text2" [value]="r.route" [(ngModel)]="routeList[i].route">
      </div>
    </div>
    <button class="btn btn-outline-success" (click)="updateRouting(r)">Save</button>
  </div>
</div>