
<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 px-0 bg-light sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/dashboard']" [routerLinkActive]="['active']">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/employee']" [routerLinkActive]="['active']">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/routing']" [routerLinkActive]="['active']">Routing</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

