<div class="p-4">
    <div class="row">
        <div class="table-reponsive">
            <h4>Employees</h4>
            <table class="table">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Gender</td>
                        <td>Email</td>
                        <td>Phone</td>
                        <td>Nationality</td>
                        <td>Username</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of (employees$|async)">
                        <td>{{ emp.name }}</td>
                        <td>{{ emp.gender }}</td>
                        <td>{{ emp.email }}</td>
                        <td>{{ emp.phone }}</td>
                        <td>{{ emp.nationality }}</td>
                        <td>{{ emp.username }}</td>
                        <td><button class="btn btn-sm btn-outline-warning" [routerLink]="['/employee']" [queryParams]="{employeeId: emp.id}">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="table-reponsive">
            <h4>Routing <button class="btn btn-sm btn-outline-warning" [routerLink]="['/routing']">Edit</button></h4>
            <table class="table">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Route</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let route of (routing$|async)">
                        <td>{{ route.name }}</td>
                        <td>{{ route.route }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>